<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPay</title>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="plugins/Fontawesome/css/all.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="plugins/bootstrap-4/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
    <div class="wrapper">
        <div class="login">
            <div class="top">
                <a href=""><i class="fas fa-angle-left"></i></a>

                <span>Create <br> Account</span>
            </div>
            <div class="bottom">
                <form>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="name" name="Name" id="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="number">Phone</label>
                        <input type="number" name="number" id="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="conirm-password">Confirm Password</label>
                        <input type="password" name="password" id="confirm-password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary mt-3">Register</button>
                    </div>
                    <div class="form-group text-center">
                        <a href="#" class="">Login ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Custom Js -->
    <script src="js/main.js"></script>
    <!-- Jquery -->
    <script src="plugins/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="plugins/bootstrap-4/js/bootstrap.bundle.min.js"></script>
    <!-- Owl Carousel -->
    <script>
        $( document ).ready( function () {

        } )
    </script>
</body>

</html>